<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9CcXA7nikcc5KAlD65cpHairQL7ZNlp8</string>
	<key>GCM_SENDER_ID</key>
	<string>504610756137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.valueKart</string>
	<key>PROJECT_ID</key>
	<string>value-kart-40af5</string>
	<key>STORAGE_BUCKET</key>
	<string>value-kart-40af5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:504610756137:ios:f279be0c80f2ba6cbd6e38</string>
</dict>
</plist>